@import "./clearSet";
@import "./mixins";
@import "./header";
.fold1{
  height: 50em;
  width: 65em;
  border-radius:25%;
  background: rgba(0,0,0,.1);
  margin: -400px 50px 0 50px;
  transform: rotate(-20deg);
  z-index: -1;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to bottom rgba(0,0,0,.5),rgba(0,0,0,.2) );
  }
  .fold1 img{
    height: 60em;
    width: 70em;
    margin-top:200px;
    transform: rotate(20deg);
  }
  .fold1Text{
    z-index: 1;
    position: absolute;
    top: 8em;
    right: 10em;
  }
  .iconplay{
    color: crimson;
  
    
    top: 8em;
    right: 10em;
  }
  .btn-normal{
    background-color: crimson;
    color: ghostwhite;
    padding: 10px 70px;
    margin-top: 4em;
    margin-left: 15em;
  }

  @media (min-width: 768px) {
  
    nav .navbar-nav .navbar-itme {
      background: rgba(0,0,0,0);
  
    }
  }